[submodule "third_party/depthany2"]
	path = third_party/depthany2
	url = git@github.com:sadanand1120/Depth-Anything-V2.git
[submodule "third_party/gsam"]
	path = third_party/gsam
	url = git@github.com:sadanand1120/Grounded-Segment-Anything.git
