<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic Page Needs and Metadata
  ------------------------------------ -->
  <meta charset="utf-8">
  <meta name="description" content="{{ page.description }}">
  <meta name="keywords" content="{{ page.keywords }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{{ page.title }}</title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PYVRSFMDRL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-PYVRSFMDRL');
  </script>

  <!-- FONT
  ------------------------------------ -->
  <link
    href="https://fonts.googleapis.com/css?family=Lustria|Lato:400,700,400italic|Playfair+Display:700,400italic|Google+Sans|Noto+Sans|Castoro"
    rel="stylesheet">

  <!-- CSS
  ------------------------------------ -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
  <link rel="stylesheet" href="{{ "assets/css/lazyYT.css" | absolute_url }}">
  <link rel="stylesheet" href="{{ "assets/css/bulma.min.css" | absolute_url }}">
  <link rel="stylesheet" href="{{ "assets/css/bulma-carousel.min.css" | absolute_url }}">
  <link rel="stylesheet" href="{{ "assets/css/bulma-slider.min.css" | absolute_url }}">
  <link rel="stylesheet" href="{{ "assets/css/fontawesome.all.min.css" | absolute_url }}">
  <link rel="stylesheet" href="{{ "assets/css/index.css" | absolute_url }}">

  <!-- Favicon
  ------------------------------------ -->
  <link rel="icon" type="image/png" href="{{ "assets/images/favicon.svg" | relative_url }}">

  <!-- plotly -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{{ "assets/js/fontawesome.all.min.js" | absolute_url }}"></script>

</head>

<body>
  {{ content }}

  <script src="{{ "assets/js/bulma-carousel.min.js" | absolute_url }}"></script>
  <script src="{{ "assets/js/bulma-slider.min.js" | absolute_url }}"></script>
  <script src="{{ "assets/js/index.js" | absolute_url }}"></script>
  <script src="{{ "assets/js/lazyYT.js" | absolute_url }}"></script>
  <script>
    $(document).ready(function () {
      $('.js-lazyYT').lazyYT();
    });
  </script>
</body>

</html>